body{
    padding: 0;
    margin: 0;
}
h1,h2{
    display: flex;
    justify-content: center;
   
}
table,td,th{
    border: 1px solid black;
    border-collapse: collapse;
    margin: 0 auto;

}

 .one{
   padding-right: 120px;
   padding-bottom: 80px;
}
th,td{
    padding: 0px 60px 60px 3px;
    font-weight: bold;
   
}
span{
    padding-right: 23px;
}
.two{
    padding-bottom: 80px;
    padding-left: 3px;
}
