body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}




div{
  
   
    width: 200px;
    height: 200px;
   border-radius: 10px;
  perspective: 1000px;
    background-color: aqua;
animation-name: abc;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}
/* linear gradiant direction by default top to bottom thake */
/* one color transfer into another color it's called transition */
/* transform,rotate,scale */

/* transform element will move rotate:eliment will rotate scale: element width will increase according to comment skew bakanor jonno */ 

@keyframes abc{
    0%{
background-color: black;
    }
    20%{
        background-color: blueviolet;
    }
    40%{
        background-color: brown;
    }
    80%{
        background-color: aquamarine;
    }
    100%{
        background-color: chocolate;
    }
}