*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
   
    max-width: 1120px;
    margin: 0 auto;
    width: 600px;
}
.form-row {
   display: flex;
   justify-content: center;
   align-items: center;

  }
.heading h1{
    margin-top: 20px;
    margin-bottom: 5px;
    font-size: 25px;
    font-family: sans-serif;
   width: 600px;
}
 p{
    color: rgba(62, 62, 55, 0.805);
    margin-bottom: 35px;

}
 
h2{
    margin-top: 20px;
    font-size: 16px;
    margin-bottom: 30px;
}
.namesection{
    display: flex;
    column-gap: 8px;
    
    justify-content: flex-start;
    
}
.name{
    width: 100%;
}
input{
    width: 100%;
    padding: 5px;
border-radius: 3px;
border-color: rgba(224, 224, 221, 0.805);

margin-top: 13px;
margin-bottom: 13px;
}
.emailsection{
    display: flex;
column-gap: 20px;

   
}
.emailsection .email {
    display: block;
    width: 100%;
}
  
  .button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  button{
    padding: 9px 40px;
    background-color: rgb(32, 215, 154);
    border-radius: 4px;
  }