

.parent{
    width:500px;
    height: 500px;
    background-color: aqua;
 z-index: 222;
  position: relative;
  left: 15%;
}


.child{
    width:100px;
    height: 100px;
    background-color: rgb(0, 255, 115);
  
   position: absolute;
   top: 24%;
   left: 12%;
   border-radius: 50%;

}



