*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
background-color: aquamarine;
padding: 10px;
}
.container{
    max-width: 1120px;
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
ul{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
   column-gap: 60px;
}
.container .list li a{
    text-decoration: none;
    position: relative;

}
.container .list li a:hover{
    color: brown;
    transition: 0.6s;
   

}
.container .list li a::after{
    content: '';
    width: 0;
    height: 10%;
   position: absolute;
   background-color: black;
   left: 0;
   bottom: -2px;
}
.container .list li a:hover::after{
    width: 100%;
    transition: 0.8s;

}
.logo a{
    text-decoration: none;
    position: relative;
}
.logo a::after{
    content: '';
    width: 0;
    height: 10%;
   position: absolute;
   background-color: black;
   left: 0;
   bottom: -2px;
}
.logo a:hover::after{
    width: 100%;
    transition: 0.8s;
}