
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}
table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
    margin: 0 auto;
   
}
.u{
    text-align: center;
}